<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Book Worm</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-color: #eeeeee;
            font-family: "Palatino Linotype";
        }
        .navbar-link {
           text-decoration: none;
           color: inherit;
        }
        a:hover {
            color: #808080;
            text-decoration: none;
        }
        .jumbotron {
            color: #000000;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Book Worm", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Knjige", "Index", "Books")</li>
                    <li>@Html.ActionLink("Autori", "Index", "Authors")</li>
                    <li>@Html.ActionLink("Izdavači", "Index", "Publishers")</li>
                    <li>@Html.ActionLink("O aplikaciji", "About", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p><b>&copy; @DateTime.Now.Year - Darko Mijatov</b></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
